asgiref==3.5.2
backports.zoneinfo==0.2.1
coverage==6.4.3
distlib==0.3.5
Django==4.1
django-environ==0.9.0
environ==1.0
filelock==3.8.0
pkg_resources==0.0.0
platformdirs==2.5.2
psycopg2==2.9.3
psycopg2-binary==2.9.3
sqlparse==0.4.2
virtualenv==20.16.3
